/* ===== Global ===== */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    margin-top: 2px;
    
    font-size: 14px;
    min-height: 0;

}

@define-color outline #414141;
@define-color bgcolor #111111;
@define-color island #1f1f1f;

window#waybar {
    background: rgba(30, 30, 46, 0);
    color: #ffffff;
    /* border-bottom: 2px solid #414141; */
}

/* ===== Workspace Buttons ===== */
#workspaces {
    margin: 0 6px;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #a6adc8;
    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #89b4fa;
    color: #1e1e2e;
}

#workspaces button:hover {
    background: #45475a;
    color: #ffffff;
}

#custom-temputils {
    background-color: @island;
    padding: 0 20px;

    margin-right: 16px;

    border-radius: 20px;
}

/* ===== Modules ===== */
#cpu,
#memory,
#network,
#battery {
    padding: 0 10px;
    margin: 4px 3px;
    background: #ffe4e4;
    border-radius: 8px;
}

#tray {
    margin-left: 16px;

    padding: 0 20px;

    background-color: @island;

    /* border-color: @outline;
    border-style: solid;
    border-width: 2px 2px 2px 2px; */
    border-radius: 32px; 

    transition: padding 0.2s;
    transition: border-color 1s;

}

#tray:hover {
    transition: border-color 1s;

    border-color: #ffffff;
}


#pulseaudio {
    padding: 0 20px;
    border-color: @outline;
    border-style: solid;
    border-width: 0px;
    border-radius: 32px;
    

    background-color: @island;

    transition: background-color 0.5s;
}

#pulseaudio:hover {
    background-color: #4f4f4f;
}

/* ===== Clock ===== */
#clock {
    color: white;
    background-color: @island;

    padding: 0 20px;
    border-radius: 32px;

    font-weight: bold;
}

/* ===== CPU ===== */
#cpu {
    color: #fab387;
}

/* ===== Memory ===== */
#memory {
    color: #94e2d5;
}

/* ===== Network ===== */
#network {
    color: #89dceb;
}

#network.disconnected {
    color: #f38ba8;
}

/* ===== Audio ===== */

#pulseaudio.muted {
    color: #6c7086;
}

/* ===== Battery ===== */
#battery {
    color: #a6e3a1;
}

#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
}


/* ===== Tooltip ===== */
tooltip {
    background: @bgcolor;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

tooltip label {
    color: white;
}